<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hlju.wangde.securityguards"
    android:installLocation="auto">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.WRITE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.WRITE_CALL_LOG" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.GET_PACKAGE_SIZE" />
    <uses-permission android:name="android.permission.CLEAR_APP_CACHE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:name="com.hlju.wangde.securityguards.global.MyApplication"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Acitivity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Acitivity.HomeActivity" />
        <activity android:name=".Acitivity.SettingActivity" />
        <activity android:name=".Acitivity.AntitheftActivity" />
        <activity android:name=".Acitivity.Setup1Activity" />
        <activity android:name=".Acitivity.Setup2Activity" />
        <activity android:name=".Acitivity.Setup3Activity" />
        <activity android:name=".Acitivity.Setup4Activity" />

        <receiver
            android:name=".receiver.BootCompleteReceive"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity android:name=".Acitivity.ContactActivity" />

        <receiver
            android:name=".receiver.SmsReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:priority="214748364">
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".service.LocationService"
            android:enabled="true"
            android:exported="true" />

        <receiver
            android:name=".receiver.AdminReceiver"
            android:description="@string/sample_device_admin_description"
            android:enabled="true"
            android:exported="true"
            android:label="@string/sample_device_admin"
            android:permission="android.permission.BIND_DEVICE_ADMIN">
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/device_admin_sample" />

            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".service.LockScreenService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".service.WipeDataService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".Acitivity.AToolsActivity" />
        <activity android:name=".Acitivity.AddressQueryActivity" />

        <service
            android:name=".service.AddressService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".Acitivity.DragViewActivity"
            android:theme="@style/Translucent" />
        <activity android:name=".Acitivity.BlackNumberActivity" />

        <service
            android:name=".service.BlackNumberService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".Acitivity.AppManagerActivity" />
        <activity android:name=".Acitivity.ProcessManagerActivity" />
        <activity android:name=".Acitivity.ProcessSettingActivity" />

        <service
            android:name=".service.AutoKillService"
            android:enabled="true"
            android:exported="true" />

        <receiver android:name=".receiver.MyWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/my_widget_info" />
        </receiver>

        <service
            android:name=".service.UpdateWidgetService"
            android:enabled="true"
            android:exported="true" />

        <receiver
            android:name=".receiver.KillReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.hlju.wangde.securityguards.KILL" />
            </intent-filter>
        </receiver>

        <activity android:name=".Acitivity.AppLockActivity" />

        <service
            android:name=".service.WatchDogService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".Acitivity.EnterPwdActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance" />
        <activity android:name=".Acitivity.TrafficStatsActivity" />
        <activity
            android:name=".Acitivity.AntiVirusActivity"
            android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity android:name=".Acitivity.CleanCacheActivity" />
        <activity android:name=".Acitivity.CacheTabActivity" />
        <activity android:name=".Acitivity.SdcardCacheActivity"></activity>
    </application>

</manifest>